/* Loading Page */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #141414; */
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-out {
  from {}
  to {
      /* transform: translate(0, -100%); */
      z-index: -1;
      opacity: 0;
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
}

.content {
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content_logo {
  width: 400px;
  z-index: 2;
}