@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

@font-face {
    font-family: Venom;
    src: url("../assets/OriginTech personal use.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin:0;
    padding:0;
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-family: 'Venom', sans-serif;
}

h1 {
    font-size: 4em;
}

/* Loading Page */
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes loading-out {
    from {}
    to {
        transform: translate(0, -100%);
        opacity: 0;
    }
}

/* Opening Viewport */
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: blur(4px);
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    /* border-bottom: 1px solid #fff; */

}

.frame img {
    height: 50%;
    z-index: 1;
}

@keyframes slide-in {
    from {
        transform: translate(-100%, 0px);
        opacity: 0;
    }
    to {
        transform: translate(0);
    }
}

.scroll-arrow {
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

/* Outreach Viewport */
.outreach_bg {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(4px);
    object-fit: cover;
}

.outreach {
    /* border-bottom: 1px solid #fff; */
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); */
    background-size: cover;
}

.outreach h1 {
    text-align: center;
}

/* Team Viewport */
.team {
    /* border-bottom: 1px solid #fff; */
    position: absolute;
    top: 200%;
    height: 100%;
    width: 100%;
}

.team h1 {
    text-align: center;
}